<div class="container mt-5 ">
  <h1 class="text-center">สมาชิกกลุ่มที่ 1</h1>

  <div class="card mb-4 mt-4 center"  style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets\images\team\S1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นายก้องภพ บรรณทอง</h5>
          <p class="card-text">ซัน</p>
          <p class="card-text"><small class="text-muted">เลขที่ ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 mt-4 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets\images\team\t1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นายศรายุทธ เสนีวงค์ ณ อยุธยา</h5>
          <p class="card-text">เต้</p>
          <p class="card-text"><small class="text-muted">เลขที่ 2 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 mt-4 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets\images\team\a1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นายกิตติพงศ์ แย้มโสพิศ </h5>
          <p class="card-text">อาม</p>
          <p class="card-text"><small class="text-muted">เลขที่ 4 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 mt-4 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets\images\team\b1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นายธนบดินทร์ ศิริ </h5>
          <p class="card-text">แบงค์</p>
          <p class="card-text"><small class="text-muted">เลขที่ 5 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

</div>
